@import '../../../styles.scss';

.comment-input {
    width: 100%;
    height: 100%;
    /* border: 1px solid gainsboro; */
    @include between; align-items: center;
    margin-top: .5rem;
    .input-cmt {
        border-radius: 10px;
        height: 2.8rem;
        flex-grow: .95;
        @include cont;
        position: relative; box-sizing: border-box;
        textarea {
            border: none; border: 1px solid gainsboro;
            border-radius: 10px;
            width: 100%; padding: .5rem; padding-right: 2rem;
            height: 100%; box-sizing: border-box;
            &:focus { outline: none; }
        }
        .submit {
            @include cont;
            width: 1.5rem; height: 1.5rem;
            position: relative;
            position: absolute;
            bottom: .25rem;
            right: .25rem;
            input {
                position: absolute;
                border-radius: 100%;
                width: 100%;
                height: 100%;
                background-color: transparent; 
                border: none;
            }
            .sendarrow {
                border-radius: 100%;
                color: gainsboro;
                width: 1.5rem; height: auto;
                &.active {
                    color: $secondary-color;
                    cursor: pointer;
                }
            }
        }
    }
}