@import '../../../styles.scss';

.post-comment-cont {
    /* border: 1px solid gainsboro; */
    width: 100%;
    @include cont;
}

.--primary {
    margin-top: .7rem;
}

.post-comment {
    width: 100%;
    display: flex;
    .textarea-cont {
        height: auto;
        flex-grow: 1;
        display: flex;
        box-sizing: border-box;
        margin-left: .75rem;
        position: relative;
        .sendarrow {
            position: absolute;
            bottom: .3rem;
            right: .3rem;
            width: 1.5rem;
            height: auto;
            cursor: pointer;
            color:  rgb(110, 110, 110);
            &.active {
                color: $secondary-color;
            }
        }
        textarea {
            flex-grow: 1;
            border-radius: 15px;
            border: none;
            background-color: rgb(248, 248, 248);
            padding: .5rem .75rem;
            padding-right: 1.25rem;
            box-sizing: border-box;
            height: 2.5rem;
            max-height: 5rem;
            font-size: .9rem;
            &:focus {
                outline: 1.5px solid $secondary-color;
            }
        }
    }
}