@import '../.././styles.scss';

.profile-pic-cont {
    @include cont;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    &.outline {
      border: 4px solid #fff;
    }
  
    .profile-pic-box {
      @include cont;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 100px;
      position: relative;
      img {
        width: 100%;
        height: 100%; // Hacemos que ocupe todo el contenedor.
        object-fit: cover; // Ajustamos para que mantenga sus proporciones y cubra todo el contenedor.
        object-position: center; // Centra la imagen en caso de que se corte.
      }
  
      #icon {
        width: 100%;
        height: auto;
        background-color: gainsboro;
        color: #474747;
      }
    }

    .online-mark {
      width: .65rem;
      height: .65rem;
      background-color: #59ff0c;
      border-radius: 100%;
      position: absolute;
      border: 1.5px solid #fff;
      bottom: 0;
      right: 0;
    }
}