@import '../../../styles.scss';

.profile-cont {
    @include cont;
    .profile-box {
        width: 90%;
        @include column;
        align-items: center;
        .hero {
            width: 85%;
            @include column;
            
            .banner-cont {
                width: 100%;
                height: 15rem;
                @include cont;
                overflow: hidden;
                border-radius: 10px;
                object-fit: cover;
                img {
                    border-radius: 10px;
                    width: 100%;
                    height: auto;
                }
            }
            
            .info {
                /* border: 1px solid gainsboro; */
                position: relative;
                box-sizing: border-box;
                display: flex;
                justify-content: flex-end;
                box-sizing: border-box;
                .profile-pic-cont {
                    position: absolute;
                    top: -5rem;
                    left: 0;
                }
                
                .box {
                    flex-grow: 1;
                    height: 5.5rem;
                    @include between;
                    margin-left: 11rem;
                    box-sizing: border-box;
                    #username {
                        font-weight: 500;
                        font-size: 1.1rem;
                    }
                    
                    .btns {
                        @include between;
                        .sn-msg-cont {
                            margin-left: .85rem;
                        }
                    }
                }
            }
        }
        
        .profile-body {
            margin-top: 1.5rem;
            @include cont;
            
            .profile-feed {
                @include cont;
                width: 31rem;
                min-width: 30rem;
                
                .feed-box {
                    width: 100%;
                    @include column;
                }
            }
        }
    }
}


@media screen and (max-width: 900px) {
    .profile-cont {
        @include cont;
        .profile-box {
            width: 90%;
            .hero {
                width: 100%;
                @include column;
                .banner-cont {
                    img {
                    }
                }
                .info {
                    .profile-pic-cont {
                    }
                    .box {
                        width: 70%;
                        @include between;
                        height: 5.5rem;
                        #username {
                            font-weight: 500;
                            font-size: 1.1rem;
                        }
                        .btns {
                            @include between;
                        }
                    }
                }
            }
        }   
    }
}

@media screen and (max-width: 600px) {
    .profile-cont {
        @include cont;
        .profile-box {
            width: 90%;
            .hero {
                width: 100%;
                @include column;
                .banner-cont {
                    width: 100%;
                    height: 11rem;
                    @include cont;
                    overflow: hidden;
                    border-radius: 10px;
                    object-fit: cover;
                    img {
                        border-radius: 10px;
                        width: 100%;
                        height: auto;
                    }
                }
                .info {
                    border: 1px solid gainsboro;
                    position: relative;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: flex-end;
                    box-sizing: border-box;
                    .profile-pic-cont {
                        position: absolute;
                        top: -3rem;
                        bottom: 0;
                        left: 0;
                        max-width: 8rem;
                        max-height: 8rem;
                    }
                    .box {
                        flex-grow: 1;
                        height: 5.5rem;
                        @include between;
                        margin-left: 9rem;
                        box-sizing: border-box;
                        #username {
                            font-weight: 500;
                            font-size: 1.1rem;
                        }
                        .btns {
                            @include between;
                            .sn-msg-cont {
                                margin-left: .85rem;
                            }
                        }
                    }
                }
            }
            .profile-body {
                margin-top: 1.5rem;
                @include cont;
                min-width: auto;
                width: 100%;
                .profile-feed {
                    @include cont;
                    width: 100%;
                    min-width: auto;
                    .feed-box {
                        width: 100%;
                        @include column;
                    }
                }
            }
        }   
    }    
}