$secondary-color: #4a00f8;
$th-color: rgb(232, 232, 232);

@mixin cont {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin column {
    display: flex;
    flex-direction: column;
}
@mixin between {
    display: flex;
    justify-content: space-between;
}
@mixin overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    @include cont;
    background-color: #00000041;
    z-index: 110;
}
@mixin buttonColor {
    background-image: linear-gradient(to bottom, #003dd8, #7c00f8);
    color: #fff;
}